    @model PreviewModel

<div class="panel">
	<div class="panel-body">
		<div class="form-group row">
			<h2 class="col-2">To: <br/></h2>
			<div class="col-10 preview">
				@Html.Raw(Model.bridgeGreetings.fromName) <br/>
				@Html.Raw(Model.bridgeGreetings.fromEmail)
			</div>
        </div>

        <div class="form-group row">
            <h2 class="col-2">From: <br/></h2>
            <div class="col-10 preview">
				@Html.Raw(Model.bridgeGreetings.toName) <br/>
				@Html.Raw(Model.bridgeGreetings.toEmail)
            </div>
        </div>

		<div class="form-group row">
			<h2 class="col-2">Subject: <br/></h2>
            <div class="col-10 preview">
				@Html.Raw(Model.bridgeGreetings.subject)
			</div>
		</div>

		<div class="form-group row">
			<h2 class="col-2">Message: <br/></h2>
            <div class="col-10 preview">
				@Html.Raw(Model.bridgeGreetings.message.Replace("\n", "<br/>"))
			</div>
		</div>
	</div>

	<div class="panel-footer row">
		<input type="submit" value="Send" class="btn btn-primary next"/>
		<div class="other">
			<a class="goback" onclick="goBack()">Go Back</a>
			<script>
				function goBack() {
				window.history.back();
				}
			</script>
		</div>
</div>
