    @model IndexModel

    <div class="panel">
	<div class="panel-body>
		<div class="form-group">
		<label asp-for="bridgeGreetings.fromName" class="col-2"></label>
		<div class="col-10">
			@Model.bridgeGreetings.fromName
		</div>
	</div>

        <div class="form-group">
            <label asp-for="bridgeGreetings.fromEmail" class="col-2"></label>
            <div class="col-10">
			@Model.bridgeGreetings.fromEmail
            </div>
        </div>

        <div class="form-group">
            <label asp-for="bridgeGreetings.toName" class="col-2"></label>
            <div class="col-10">
            @Model.bridgeGreetings.toName
            </div>
        </div>

        <div class="form-group">
            <label asp-for="bridgeGreetings.toEmail" class="col-2"></label>
            <div class="col-10">
            @Model.bridgeGreetings.toEmail
            </div>
        </div>

           <div class="form-group">
            <label asp-for="bridgeGreetings.subject" class="col-2"></label>
            <div class="col-10">
			@Model.bridgeGreetings.subject
            </div>
        </div>
        

     <div class="form-group">
                        <label asp-for="bridgeGreetings.message" class="col-2"></label>
                        <div class="col-10">
                        @Model.bridgeGreetings.message
                        </div>
                    </div>
		</div>
	<div class="panel-footer">
                <input type="submit" value="Send" class="btn btn-primary" />
                <a href="/">Edit</a>
            </div>
        </div>
        </div>
        </div>